/* BODY */

html {
  box-sizing: border-box;
  }

*, *:before, *:after {
  box-sizing: inherit;
}

.body__background {
  background: rgb(17,72,92);
  background: radial-gradient(circle, rgba(17,72,92,1) 50%, rgba(148,187,233,1) 100%);
}

.body__background--about {
  background: rgb(17,72,92);
}

.body__background--knowledge,
.body__background--tools {
  background: rgb(138,6,6);
  background: radial-gradient(circle, rgba(138,6,6,1) 50%, rgba(148,154,233,1) 100%);
}

/* Body background before 
.body__background,
.body__background--about {
  background: #16697a;
}

.body__background--knowledge,
.body__background--tools {
  background: #92140c;
}
*/

.main, .main__knowledge, .main__tools, .main__about {
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  max-width: 1000px;
  color: white;
  font-family: calibri light;
  margin: auto;  
}

.footer__link{
  max-width: 1000px;
  font-family: cursive;
  display:inline;
  overflow: auto;
  position: fixed;
  bottom: 0;
  right: 50px;
  color: darkred;
  background:darkgoldenrod;
  border: 2px solid black;
  border-radius: 0px;
  padding: 1px;
}

/* NAVIGATION */

.navigation__link {
  color: orange;
  background: #92140c;
  padding: 10px;
  border-radius: 10px;
  display: inline;
}

.navigation__link--homepage {
  background: #92140c;
}

/* MAIN HEADING*/

.main__heading, .main__about--heading {
  color: darkred;
}

.why__link {
  color: orange;
}

.why__link--knowledge, .why__link--tools, .why__link--about, .introduction__link {
  color: darkred;
}

.introduction__link--roadmap {
  color: orange;
}

/* NOTES */

.notes__heading--html, .notes__heading--css, 
.notes__heading--javascript, .notes__heading--terminal, 
.notes__heading--git, .notes__heading--remember, .notes__heading--shortcuts {
  color: darkred;
  position: relative;
  text-align: center;
  display: block;
  width: auto;
  height: auto;
  background: whitesmoke;
  padding: 5px;
}

.notes__link {
  color :darkred;
}
.notes__html, .notes__javascript, .notes__git, .notes__shortcuts {
  color: black;
  background: rgb(187, 184, 184);
} 

.notes__css, .notes__terminal, .notes__remember {
  color: black;
  background: lightseagreen;
}

.notes__heading--bullets {
  color: darkred;
}

/* BODY BACKGROUND KNOWLEDGE */

.knowledge__section--heading {
  color: black;
  position: relative;
  text-align: center;
  display: block;
  width: auto;
  height: auto;
  padding: 5px;
  border-style: double;
  background: lightgrey;
}

/* KNOWLEDGE SECTION */

.knowledge__section--link {
  color: orange;
  font-size: x-large;
}

/* TOOLS SECTION */

.tools__section--heading {
  color: black;
  position: relative;
  text-align: center;
  display: block;
  width: auto;
  height: auto;
  padding: 5px;
  border-style: double;
  background: lightgrey;
}

.tools__section--link {
  color: orange;
  font-size: large;
}

/* Photos */

.main__picture {
  overflow: auto;
  width: 400px;
  height: 250px;
  padding: 16px;
  margin: 5px;
  border-style: double;
  background: grey;
}

.main__knowledge--picture {
  width: 980px;
  height: 250px;
  padding: 5px;
  margin: 5px;
  border-style: dotted;
  border-radius: 25%;
  background: black;
}

.main__tools--picture {
  display: inline-block;
  overflow: auto;
  width: 500px;
  height: 300px;
  padding: 5px;
  border-width: 5px 10px 15px 20px;
  border-style: dashed;
  border-top: 10px solid orange;
  border-bottom: 10px solid orange;
  border-radius: 10%;
  margin: auto;
  background: whitesmoke;
}

.main__about--picture {
  width: 180px;
  height: 160px;
  padding: 2px;
  margin: 2px;
  border-style: groove;
  border-radius: 20%;
  background: black;
}