body {
  background: #16697a;
}

a {
  color: darkred;
}

section,
article {
  background: #fbfffe;
}

footer {
  color: yellow;
}

h2,
h3,
h4 {
  color: #383d3b;
}

h1 {
  color: #000000;
  background: orange;
}






.tools-section {
  background: red;
}

.about-me {
  color: red; background: yellowgreen;
}

.about-me-body {
  background: forestgreen;
}

.top-link-color {
  color: blue;
  background: yellow;
}

#git {
  color: red;
}