.body-background {
  background: #16697a;
}

.second-body-background {
  background: grey;
}

.tools-body-background {
  background: #6e638b;
}

.about-me-body-background {
  color: red; 
  background: forestgreen;
}

nav a {
  color: darkred;
}

a {
  color: orangered;
}

#html, #javascript, #git, #shortcuts {
  color: black;
  background: grey
}

#css, #terminal, #remember {
  color: black;
  background: lightseagreen;
}

.knowledge-section {
  background: lightsteelblue;
}

.subject-list {
  background: white;
}

.heading {
  color: red;
  background: orange;
}

.second-heading {
  color: green;
  background: pink;
}

.third-heading {
  color: blue;
  background: darkred;
}

.fourth-heading {
  color: white;
  background: black;
}

.footer {
  color:orange;
}

.tools-section {
  background: rgb(184, 183, 183);
}

.top-link-color {
  color: blue;
  background: yellow;
}

.remember {
  color: rgba (8, 121, 155, 0.5);
  background: rgba (8, 121, 155, 0.5);
}

.about-me {
  background: lightgreen;
}